# Python
.env
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/
*.log
outputs/
.claude/

# OS
.DS_Store
Thumbs.db

# Visual Studio
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
.vs/
*.ilk
*.pdb
*.tmp
node_modules/
